#wrap{
    width: 500px;
    height: 300px;
    padding-top: 50px;
    margin: auto;
}
.title{
    text-align: center;
    margin: auto;
    font-size: 24px;
}
.resultMsg{
    margin: 5px auto;
    text-align: center;
    font-size: 24px;
}
.login{
    background-color: #1dc078;
    border: none;
    width: 150px;
    height: 40px;
}
.login > a{
    color: #f6f6f6;
    font-size: 24px;
}
.login > a:hover{
    text-decoration: none;
    color: #f6f6f6;
}
.btn{
    margin: 15px auto;
    width: 500px;
}