<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.bootcamping.reservation.model.dao.ReservationMapper">

<resultMap id="reservationResultMap" type="reservation">
	<result column="RESERVATION_NO" property="reservationNo"/>
	<result column="MEMBER_NO" property="memberNo" />
	<result column="SITE_NO" property="siteNo" />
	<result column="CHECKIN_DATE" property="checkInDate" />
	<result column="CHECKOUT_DATE" property="checkOutDate" />
	<result column="RESERVATION_DATE" property="reservationDate" />
	<result column="PEOPLE" property="people" />
	<result column="RESER_NAME" property="reserName" />
	<result column="RESER_PHONE" property="reserPhone" />
	<result column="PRICE" property="price" />
	<result column="RESER_STATUS" property="reserStatus" />
	<result column="PRICE_NO" property="priceNo" />
</resultMap>

<insert id="insertReservation" parameterType="reservation">
	
	INSERT
	   ALL
	  INTO
	  		TB_RESERVATION
	VALUES
			(
			 SEQ_RESVNO.NEXTVAL,
	        #{memberNo},
	        #{siteNo},
	        #{checkInDate},
	        #{checkOutDate},
	        SYSDATE,
	        #{people},
	        #{reserName},
	        #{reserPhone},
	        #{price},
        	'Y'
			)
	 INTO
        	TB_PAYMENTLIST
   VALUES
        (
        #{priceNo},
        SEQ_RESVNO.CURRVAL
        )
 		SELECT
		       *
		  FROM
		       DUAL
	

</insert>

<select id="selectReservationListCount" parameterType="string" resultType="_int">
	SELECT 
	       COUNT(RESERVATION_NO) 
	  FROM 
	       TB_RESERVATION
	  JOIN
	       TB_MEMBER USING(MEMBER_NO)
	 WHERE 
	       MEMBER_ID = #{ memberId }
	   AND
	       RESER_STATUS = 'Y'
</select>

<select id="selectReservationList" parameterType="string" resultMap="reservationResultMap">
	SELECT
	       RESERVATION_NO,
	       SITE_NO,
	       PEOPLE,
	       PEOPLE * (CHECKOUT_DATE - CHECKIN_DATE) * SITE_PRICE AS PRICE,
	       TO_CHAR(CHECKIN_DATE, 'YYYY-MM-DD') || '~' || TO_CHAR(CHECKOUT_DATE, 'YYYY-MM-DD') AS PERIOD,
	       RESER_STATUS
	  FROM
	       TB_RESERVATION
	  JOIN
	       TB_SITE USING(SITE_NO)
	  JOIN
	       TB_PRICE USING(TYPE_CODE)
	 WHERE
	       MEMBER_NO = #{ memberId }
	 ORDER
	    BY
	       RESERVATION_NO DESC
</select>
                

        
</mapper>