<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.bootcaming.camping.model.dao.CampingMapper">

	<resultMap type="camping" id="campingResultMap">
		<result column="CAMP_NO" property="campNo" />
		<result column="CAMP_NAME" property="campName" />
		<result column="CAMP_INTRO" property="campIntro" />
		<result column="INTRO" property="intro" />
		<result column="TYPE" property="type" />
		<result column="ADDRESS" property="address" />
		<result column="DETAIL_ADDRRESS" property="detailAddress" />
		<result column="MAP_X" property="mapX"/>
		<result column="MAP_Y" property="mapY" />
		<result column="CAMP_PHONE" property="campPhone" />
		<result column="SERVICE" property="service" />
		<result column="HOMEPAGE" property="homePage" />
		<result column="RESERPAGE" property="reserPage" />
		<result column="OPER" property="oper" />
		<result column="OPER_DATE" property="operDate" />
		<result column="CAMP_IMG" property="campImg" />
		<result column="CAMP_LOCATION" property="campLocation" />
		<result column="STATUS" property="status" />
	</resultMap> 
	
	<resultMap type="site" id="siteResultMap">
		<result column="SITE_NO" property="siteNo" />
		<result column="CAMP_NO" property="campNo" />
		<result column="TYPE_CODE" property="typeCode" />
		<result column="SITE_NAME" property="siteName" />
		<result column="SITE_PATH" property="sitePath" />
		<result column="SITE_YN" property="siteYn" />
		<result column="SITE_PRICE" property="sitePrice" />
		<result column="TYPE_NAME" property="typeName" />
		<result column="CAMP_NAME" property="campName" />
		<result column="CAMP_IMG" property="campImg" />
	</resultMap>
	

	<select id="detailCamping" parameterType="string" resultMap="campingResultMap">
		SELECT
				CAMP_NO,
		        CAMP_NAME,
		        NVL(CAMP_PHONE, '02-123-1234') "CAMP_PHONE",
		        DETAIL_ADDRRESS,
		        NVL(INTRO, '힐링이 되는 캠핑, 아름다운 추억이 될 수 있도록 오시는 모든 고객분들을 정성껏 모시겠습니다.소중한 시간 가족, 동료와 함께 할 캠핑장을 찾으신다면 저희 캠핑장으로 오세요. 후회없는 편안한 힐링쉼터, 아름다운 자연 경관과 함께 휴식을! 여러분들의 사랑 그리고 우정과 함께 따뜻한 추억을 만들 수 있도록 고객 한분 한분 가족처럼 모시겠습니다.') "INTRO", 
		        REPLACE(NVL(SERVICE, '침대,에어컨,냉장고,유무선인터넷,난방기구,취사도구,내부화장실'), ',' , '		' ) "SERVICE",
		        NVL(CAMP_LOCATION, '산') "CAMP_LOCATION",
		        TYPE,
		        CAMP_IMG,
		        NVL(OPER, '봄, 여름') "OPER",
		        NVL(OPER_DATE, '주말') "OPER_DATE",
		        RESERPAGE,
		        MAP_X,
		        MAP_Y
		  FROM
		        TB_CAMP
		 WHERE
		        CAMP_NO = #{campNo}	
	</select>


	<select id="siteList" parameterType="list" resultMap="siteResultMap">
			SELECT
					SITE_NO,
			        SITE_PATH,
			        SITE_NAME,
			        SITE_PRICE,
			        TYPE_NAME
			  FROM
			        TB_SITE
			  LEFT     
			  JOIN
			        TB_PRICE ON (TB_PRICE.TYPE_CODE = TB_SITE.TYPE_CODE)
			  JOIN
			        TB_CAMP ON (TB_CAMP.CAMP_NO = TB_SITE.CAMP_NO)
			  JOIN
			  		TB_TYPE ON (TB_TYPE.TYPE_CODE = TB_PRICE.TYPE_CODE)
			 WHERE
			        TB_CAMP.CAMP_NO = #{campNo}
			ORDER
			   BY
			   		SITE_NO ASC
	</select>
		
	<select id="campingReservation" resultMap="siteResultMap" parameterType="_int">
		SELECT
		        SITE_NO,
		        TB_CAMP.CAMP_NO,
		        CAMP_NAME,
		        SITE_NAME,
		        CAMP_IMG
		  FROM
		        TB_SITE
		  JOIN
		        TB_CAMP ON (TB_CAMP.CAMP_NO = TB_SITE.CAMP_NO)
		 WHERE
		        SITE_NO = #{siteNo}		
	</select>

	<select id="selectDate" parameterType="list" resultMap="siteResultMap">
        
		SELECT
					TB_SITE.SITE_NO,
			        SITE_PATH,
			        SITE_NAME,
			        SITE_PRICE,
			        TYPE_NAME
			  FROM
			        TB_SITE
			  LEFT     
			  JOIN
			        TB_PRICE ON (TB_PRICE.TYPE_CODE = TB_SITE.TYPE_CODE)
			  JOIN
			        TB_CAMP ON (TB_CAMP.CAMP_NO = TB_SITE.CAMP_NO)
			  JOIN
			  		TB_TYPE ON (TB_TYPE.TYPE_CODE = TB_PRICE.TYPE_CODE)
              LEFT
              JOIN
                    TB_RESERVATION ON (TB_SITE.SITE_NO = TB_RESERVATION.SITE_NO)
			 WHERE
			        TB_CAMP.CAMP_NO = #{campNo}
               AND
                    CHECKIN_DATE BETWEEN #{startDate} AND #{endDate}
               OR
                    CHECKOUT_DATE BETWEEN #{startDate} AND #{endDate}
			ORDER
			   BY
			   		SITE_NO ASC    	
	
	</select>
	
	<select id="selectSearchCount" resultType="_int">
		SELECT 
		        COUNT(*)
		  FROM
		        TB_CAMP
		  WHERE
		        CAMP_NAME LIKE  '%' || #{keyword} || '%'		
	</select>
	
	<select id="searchList" resultMap="campingResultMap">
		SELECT 
				CAMP_NO,
				CAMP_IMG,
		        CAMP_NAME,
		        ADDRESS,
		        TYPE
		  FROM
		        TB_CAMP
		  WHERE
		        CAMP_NAME LIKE  '%' || #{keyword} || '%'	
		  ORDER
			 BY
			 	CAMP_NO ASC
	</select>
	
	<select id="checkCampingCount" resultType="_int">
	    SELECT
	        COUNT(*)
	    FROM
	        TB_CAMP
	    <where>
	        <if test="types != null and types.length > 0">
	            <foreach collection="types" item="type" open="(" separator="OR" close=")">
	                TYPE LIKE '%' || #{type} || '%'
	            </foreach>
	        </if>
	        <if test="addresses != null and addresses.length > 0">
	            <if test="types != null and types.length > 0">
	                AND
	            </if>
	            <foreach collection="addresses" item="address" open="(" separator="OR" close=")">
	                ADDRESS LIKE '%' || #{address} || '%'
	            </foreach>
	        </if>
	    </where>
	</select>
	
	<select id="checkCamping" resultMap="campingResultMap">
	    SELECT
	        CAMP_NO,
	        CAMP_IMG,
	        CAMP_NAME,
	        ADDRESS,
	        TYPE
	    FROM
	        TB_CAMP
	    <where>
	        <if test="types != null and types.length > 0">
	            <foreach collection="types" item="type" open="(" separator="OR" close=")">
	                TYPE LIKE '%' || #{type} || '%'
	            </foreach>
	        </if>
	        <if test="addresses != null and addresses.length > 0">
	            <if test="types != null and types.length > 0">
	                AND
	            </if>
	            <foreach collection="addresses" item="address" open="(" separator="OR" close=")">
	                ADDRESS LIKE '%' || #{address} || '%'
	            </foreach>
	        </if>
	    </where>
	    ORDER BY
	        CAMP_NO ASC
	</select>
		
	
</mapper>