<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="campingMapper">

	<resultMap type="camping" id="campingResultMap">
		<result column="CAMP_NO" property="campNo" />
		<result column="CAMP_NAME" property="campName" />
		<result column="CAMP_INTRO" property="campIntro" />
		<result column="INTRO" property="intro" />
		<result column="TYPE" property="type" />
		<result column="ADRRESS" property="address" />
		<result column="DETAIL_ADDRRESS" property="detailAddress" />
		<result column="MAP_X" property="mapX"/>
		<result column="MAP_Y" property="mapY" />
		<result column="CAPM_PHONE" property="campPhone" />
		<result column="SERVICE" property="service" />
		<result column="HOMEPAGE" property="homePage" />
		<result column="RESERPAGE" property="reserPage" />
		<result column="OPER" property="oper" />
		<result column="OPER_DATE" property="operDate" />
		<result column="CAMP_IMG" property="campImg" />
		<result column="CAMP_LOCATION" property="campLocation" />
		<result column="STATUS" property="status" />
	</resultMap> 






</mapper>