<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.bootcamping.member.model.vo.Member"    alias="member"/>
		<typeAlias type="com.kh.bootcamping.camping.model.vo.Camping"  alias="camping"/>
		<typeAlias type="com.kh.bootcamping.camping.model.vo.Site"     alias="site" />
		<typeAlias type="com.kh.bootcamping.member.model.vo.MyPage"    alias="myPage" />
		<typeAlias type="com.kh.bootcamping.trade.model.vo.Trade"      alias="trade"/>
		<typeAlias type="com.kh.bootcamping.trade.model.vo.TradeBoard" alias="tradeBoard"/>
	</typeAliases>
	
	
	<mappers>
		<mapper resource="/mapper/member/member-mapper.xml"/>
		<mapper resource="/mapper/camping/camping-mapper.xml"/>
	</mappers>
	

</configuration>
